
#menu_text{
	margin: 0px;
}
#menu_text{
	background: #f54284;
	text-align: center;
	padding: 80px;
}
nav{
	background-color: #333;		
/*	padding: 14px 20px;*/
	overflow: hidden;
}	
nav a{
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;	
	text-decoration: none;
	float: left;
}

nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}

nav a: hover {
	background-color: yellow;
	text-color: black;	
} 	
#left_side{
	flex:30%;
	background-color: lightyellow;	
/*	padding: 10px 20px;*/
}
#right_side{
	flex:70%;
	background-color: lightgrey;
/*	padding: 10px 20px;*/
}
#flex_container{
	display: flex;
	flex-wrap: wrap;
}
footer{
	background-color: #333;
	color: whitesmoke;
	padding: 10px 20px;
	text-align: center;
}
footer a{
	color: white;
}
table, th, td{
	border: 1px solid;
}

/*Style the table*/
table {
  border-collapse: collapse;	
}
	
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.course_item{
	/*width: 33%;
	float: left;*/
	text-align: center;
	flex: 33%;
}
.course_img{
	width: 90%;
}

#course_container{
	display: flex; /* DÙNG FLEX THAY VÌ FLOAT*/
	flex-wrap: wrap; /*WRAP KHI MUỐN ĐẨY XUỐNG DÒNG KHI KÍCH THƯỚC THAY ĐỔI*/
}

.course_title{
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}
.course_desc{
	margin: 0x 10x 20px 10px;
}

@media(max-width:800px){	/*SỬ DỤNG KHI KÍCH THƯỚC DƯỚI 800PX THÌ BẮT ĐẦU THAY ĐỔI*/
	*{background-color: none
	}
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
	.course_item{
		flex: 50%; /*KHI DUOI 800PX THI TU DONG CHIA 2 COT*/
	}
}
/*@media(max-width:400px){
	*{background-color: blue;
	}
	#right_side{
		flex: 100%x;
	}
}*/